
@{
    ViewBag.Title = "Autenticación";
}

<div class="bg-overlay"></div>
<div class="account-pages my-5 pt-5 bg-logon-dgme">
    <br /><br />
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-xl-4">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="">
                            @*<div class="text-center">
                                    @Html.ActionLink(" Inicio", "Autenticacion", "Auth", new { area = "" }, new { @class = "nav-link fa fa-regular fa-home mt-1" })

                                </div>*@
                            <h4 class="font-size-18   mt-2 text-center text-dark">
                                LOGIN

                            </h4>

                            <form class="form-horizontal">
                                @*{error ? <Alert color="danger"><div>{error}</div></Alert> : null}*@
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-4">
                                            <Label class="form-label">Usuario</Label>
                                            <input id="inpUsr"
                                                   class="form-control"
                                                   placeholder="Digitar Usuario"
                                                   type="text"
                                                   @*onChange={validation.handleChange}
                                           onBlur={validation.handleBlur}
                                           value={validation.values.email || "" }
                                           invalid={
                                           validation.touched.email && validation.errors.email ? true : false
                                           }*@ />
                                            @*{validation.touched.email && validation.errors.email ? (
                                                <FormFeedback type="invalid"><div>{validation.errors.email}
                                                     </div></FormFeedback>
                                                ) : null}*@
                                        </div>
                                        <div class="mb-4">
                                            <Label class="form-label">Clave</Label>
                                            <input id="inpPass"
                                                   @*value={validation.values.password || "" }*@
                                                   type="password"
                                                   placeholder="Digitar Clave..."
                                                   class="form-control"
                                                   @*onChange={validation.handleChange}
                                           onBlur={validation.handleBlur}
                                           invalid={
                                           validation.touched.password && validation.errors.password ? true : false
                                           }*@ />
                                            @*{validation.touched.password && validation.errors.password ? (
                                                <FormFeedback type="invalid"><div> {validation.errors.password} </div></FormFeedback>
                                                ) : null}*@
                                        </div>

                                        <!--<div class="row">
                                            <div class="col">
                                                <div class="form-check">
                                                    <input type="checkbox"
                                                           class="form-check-input"
                                                           id="customControlInline" />
                                                    <label class="form-label form-check-label"
                                                           htmlFor="customControlInline">
                                                        Remember me
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-7">
                                                <div class="text-md-end mt-3 mt-md-0">-->
                                        @*<Link to="/auth-recoverpw"
                                                  class="text-muted">
                                            <i class="mdi mdi-lock"></i> Forgot your
                                            password?
                                            </Link>*@
                                        <!--</div>
                                            </div>
                                        </div>-->
                                        <div class="d-grid mt-4">
                                            <button class="btn btn-primary waves-effect waves-light"
                                                    type="submit">
                                                Log In
                                            </button>
                                        </div>
                                        @*<div class="mt-4 text-center">
                                                <h5 class="font-size-14 mb-3">Sign in with</h5>

                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <FacebookLogin appId={facebook.APP_ID}
                                                                       autoLoad={false}
                                                                       callback={facebookResponse}
                                                                       render={renderProps =>
                                                            (
                                                            <Link to="#"
                                                                  class="social-list-item bg-primary text-white border-primary"
                                                                  onClick={renderProps.onClick}>
                                                            <i class="mdi mdi-facebook" />
                                                            </Link>
                                                            )}
                                                            />
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <GoogleLogin clientId={google.CLIENT_ID}
                                                                     render={renderProps =>
                                                            (
                                                            <Link to="#"
                                                                  class="social-list-item bg-danger text-white border-danger"
                                                                  onClick={renderProps.onClick}>
                                                            <i class="mdi mdi-google" />
                                                            </Link>
                                                            )}
                                                            onSuccess={googleResponse}
                                                            onFailure={() => { }}
                                                            />
                                                    </li>
                                                </ul>
                                            </div>*@

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-5">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>


