<div class="container-fluid col-12 d-flex justify-content-start text-start">
    <div id="divTbl" style="overflow-x: auto; width:1700px !important" class="row mt-2">
        <table id="tblEjecucionPresupuestariaCentroTotal" class="table table-striped table-bordered nowrap" style="width: 100%; ">
            <thead>
                <tr>
                    <th class="bg-primary text-white" title="Centro Gestor">CENTRO&nbsp;GESTOR&nbsp;</th>
                    <th class="bg-primary text-white">PARTIDA&nbsp;/&nbsp;SUBPARTIDA</th>
                    <th class="primer-grupo bg-primary text-white">PRESUPUESTO&nbsp;INICIAL</th>
                    <th class="primer-grupo bg-primary text-white">MODIFICACIONES&nbsp;(-)&nbsp;(+)&nbsp;</th>
                    <th class="primer-grupo bg-primary text-white">PRESUPUESTO&nbsp;FINAL&nbsp;</th>
                    <th class="secundario-grupo bg-primary text-white" title="Acumulado Trimestre Anterior">ACUMULADO&nbsp;TRIM.&nbsp;ANT.</th>
                    <th class="secundario-grupo bg-primary text-white">ESTE&nbsp;TRIMESTRE&nbsp;&nbsp;</th>
                    <th class="secundario-grupo bg-primary text-white">TOTAL(1)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th class="bg-primary text-white" >COMPROMISOS*(2)&nbsp;&nbsp;&nbsp;</th>
                    <th class="bg-primary text-white">TOTAL&nbsp;(1)&nbsp;+&nbsp;(2)</th>
                    <th class="bg-primary text-white" title="Diferencia">DIFERENCIA&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
            </thead>

        </table>
    </div>
</div>
<input type="hidden" id="hf_fuente" />
