<div class="container-fluid col-12 d-flex justify-content-start text-start">
    <div id="divTbl" style="overflow-x: auto; width:1700px !important" class="row mt-2">
        <table id="tblInformeEjecucion" class="table table-striped table-bordered nowrap" style="width: 100%; ">
            <thead>
                <tr>
                    <th class="bg-primary text-white" title="Programa / Subprograma">PROG.&nbsp;/&nbsp;SUBPROG.</th>
                    <th class="bg-primary text-white">PARTIDA&nbsp;/&nbsp;SUBPARTIDA</th>
                    <th class="bg-primary text-white" title="Fuente Financiamiento">FUENTE&nbsp;F.&nbsp;&nbsp;</th>
                    <th class="bg-primary text-white">PRESUPUESTO&nbsp;INICIAL</th>
                    <th class="bg-primary text-white">MODIFICACIONES&nbsp;(-)&nbsp;(+)&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th class="bg-primary text-white">PRESUPUESTO&nbsp;TOTAL&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th class="bg-primary text-white">SOLICITADO&nbsp;&nbsp;&nbsp;</th>
                    <th class="bg-primary text-white" title="Comprometido">COMPROMETIDO&nbsp;&nbsp;&nbsp;</th>
                    <th class="bg-primary text-white">REC.M/CÍA&nbsp;&nbsp;&nbsp;</th>
                    <th class="bg-primary text-white" title="Total Comprometido">*TOTAL&nbsp;COMPROM.&nbsp;&nbsp;&nbsp;</th>
                    <th class="bg-primary text-white">DEVENGADO&nbsp;&nbsp;&nbsp;</th>
                    <th class="bg-primary text-white">%&nbsp;DE&nbsp;EJECUCIÓN&nbsp;&nbsp;&nbsp;</th>
                </tr>
            </thead>

        </table>
    </div>
</div>
<input type="hidden" id="hf_fuente" />
