<fieldset class="mx-3 mb-3">
    <div class="row border border-white border-2 rounded">
        <h5 class="text-info mb-3 mt-2">Línea</h5>
        <div class="col-md-2 col-sm-12 mt-2">
            <label for="inpPresupAnLineaPasoDos" class="form-label" title="Presupuesto - Año">Presupuesto</label>
            <input type="number" max="3000" id="inpPresupAnLineaPasoDos" class="form-control"  />
        </div>
        <div class="col-md-10 col-sm-12 mb-3 mt-2 form-group">
            <label for="sopLineasActivas" class="form-label">Líneas</label>
            <select id="sopLineasActivas" class="form-select">
                <option>-Seleccione-</option>
            </select>
        </div>

        <input type="hidden" id="inpIDPasoDos" />
    </div>
</fieldset>