<fieldset class="mx-3 mb-3">
    <div class="row border border-white border-2 rounded">
        <h5 class="text-info mb-3 mt-2">Otras Informaciones</h5>

        <div class="col-md-4">
            <label for="inpArrastreCompLinea" id="lbinpArrastreCompLinea" class="form-label">Arrastre&nbsp;Compromiso</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield" id="inpArrastreCompLinea" readonly disabled="">
            </div>
        </div>
        @*<div class="col-md-5">
                <label for="inpPerResvArrastreLinea" id="lbinpPerResvArrastreLinea" class="form-label cs-isrequired-label" title="Número Pedido/Reserva Arrastre Compromiso">#&nbsp;Pedido/Reserva&nbsp;Arr.&nbsp;Comp.</label>
                <input type="text" class="form-control cs-isfield is-invalid" id="inpPerResvArrastreLinea" autocomplete="off">
            </div>*@
        <div class="col-md-4">
            <label for="inpContenidoEcoLinea" id="lbinpContenidoEcoLinea" class="form-label cs-isrequired-label">Contenido&nbsp;Económico</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield is-invalid" id="inpContenidoEcoLinea">
            </div>
        </div>
        <div class="col-md-4">
            <label for="inpContenidoEcoNumeroLinea" id="lbinpContenidoEcoNumeroLinea" class="form-label">#&nbsp;Contenido&nbsp;Económico</label>
            <input type="text" class="form-control cs-isfield" id="inpContenidoEcoNumeroLinea" autocomplete="off">
        </div>
        <div class="col-md-3">
            <label for="inpPedidoLinea" id="lbinpPedidoLinea" class="form-label cs-isrequired-label">Pedido</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield is-invalid" id="inpPedidoLinea" autocomplete="off">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpPedidoNumeroLinea" id="lbinpPedidoNumeroLinea" class="form-label">#&nbsp;Pedido</label>
            <input type="text" class="form-control cs-isfield" id="inpPedidoNumeroLinea">
        </div>
        <div class="col-md-3">
            <label for="inpReservaLinea" id="lbinpReservaLinea" class="form-label cs-isrequired-label">Reserva</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield is-invalid" id="inpReservaLinea" autocomplete="off">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpReservaNumeroLinea" id="lbinpReservaNumeroLinea" class="form-label">#&nbsp;Reserva</label>
            <input type="text" class="form-control cs-isfield" id="inpReservaNumeroLinea" autocomplete="off">
        </div>
        <div class="col-md-3">
            <label for="inpSolicitudPedidoLinea" id="lbinpSolicitudPedidoLinea" class="form-label cs-isrequired-label">Solicitud&nbsp;Pedido</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield is-invalid" id="inpSolicitudPedidoLinea" autocomplete="off">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpSolicitudPedidoNumeroLinea" id="lbinpSolicitudPedidoNumeroLinea" class="form-label">#&nbsp;Solicitud&nbsp;Pedido</label>
            <input type="text" class="form-control cs-isfield" id="inpSolicitudPedidoNumeroLinea" autocomplete="off">
        </div>
        <div class="col-md-3">
            <label for="inpFacturaLinea" id="lbinpFacturaLinea" class="form-label cs-isrequired-label">Factura</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield is-invalid" id="inpFacturaLinea" autocomplete="off">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpFacturaNumeroLinea" id="lbinpFacturaNumeroLinea" class="form-label">#&nbsp;Factura</label>
            <input type="text" class="form-control cs-isfield" id="inpFacturaNumeroLinea" autocomplete="off">
        </div>
        <div class="col-md-4">
            <label for="inpDisponibleCtaLinea" id="lbinpDisponibleCtaLinea" class="form-label">Disponible&nbsp;Cuota</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield" id="inpDisponibleCtaLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-4">
            <label for="inpDisponiblePresupLinea" id="lbinpDisponiblePresupLinea" class="form-label">Disponible&nbsp;Presupuesto</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield" id="inpDisponiblePresupLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-4">
            <label for="inpFechaLinea" id="lbinpFechaLinea" class="form-label cs-isrequired-label">Fecha</label>
            <input type="date" class="form-control cs-isfield is-invalid" id="inpFechaLinea" autocomplete="off">
        </div>
        <div class="col-md-12 mb-2 has-success">
            <label for="taDetalles" class="form-label">Detalle&nbsp;/&nbsp;Descripción</label>
            <textarea type="text" rows="2" class="form-control cs-input-text" maxlength="200" id="taDetalles" autocomplete="off"></textarea>
        </div>

        <div class="col-md-3 mb-2 is-new-record">
            <label for="inpRegCrePorMov" class="form-label">Registrado Por</label>
            <input type="text" class="form-control cs-isfield" id="inpRegCrePorMov" readonly disabled="">
        </div>
        <div class="col-md-3 mb-2 is-new-record">
            <label for="inpRegCreacionFechaMov" class="form-label">Registrado En</label>
            <input type="text" class="form-control cs-isfield" id="inpRegCreacionFechaMov" readonly>
        </div>
        <div class="col-md-3 mb-2 is-new-record">
            <label for="inpRegModPorMov" class="form-label">Modificado Por</label>
            <input type="text" class="form-control cs-isfield" id="inpRegModPorMov" readonly disabled="">
        </div>
        <div class="col-md-3 mb-2 is-new-record">
            <label for="inpRegModifFechaMov" class="form-label">Modificado En</label>
            <input type="text" class="form-control cs-isfield" id="inpRegModifFechaMov" readonly disabled="">
        </div>
        <div class="col-md-6 mb-2 mt-2 is-new-record">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="ckEstadoMovimiento" checked>
                <label class="form-check-label" for="ckEstadoMovimiento">¿Registro Activo?</label>
            </div>
        </div>
        <input type="hidden" id="inpMovimientoID" />
    </div>
    <div class="d-flex flex-row-reverse">
        <i class="fa-solid fa-person-through-window"></i>
        <div class="mt-2">
            <button id="btnCrearMov" class="btn btn-success"><i class="fa fa-thin fa-credit-card text-white"></i> Crear&nbsp;Movimiento</button>
        </div>
        <div class="mt-2" style="display:none !important">
            <button id="btnEditMov" class="btn btn-success"><i class="far fa-edit text-white"></i> Editar&nbsp;Movimiento</button>
        </div>
    </div>
</fieldset>