<fieldset class="mx-3 mb-3">
    <div class="row border border-white border-2 rounded">
        <h5 class="text-info mb-3 mt-2">Cuotas</h5>
        <div class="col-md-12">
            <label for="inpCuotaTotalLinea" id="lbinpCuotaTotalLinea" class="form-label">Total&nbsp;Cuota</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield cs-movimiento-num" id="inpCuotaTotalLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpCuotaUnoTrimestreLinea" id="lbinpCuotaUnoTrimestreLinea" class="form-label" title="Cuota I Trimestre">1era&nbsp;Trimestre</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield cs-movimiento-num" id="inpCuotaUnoTrimestreLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpCuotaUnoAjusTrimestreLinea" id="lbinpCuotaUnoAjusTrimestreLinea" class="form-label" title="Ajuste Cuota I Trimestre">Ajuste&nbsp;1era&nbsp;Trimestre</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield cs-movimiento-num" id="inpCuotaUnoAjusTrimestreLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpCuotaDosTrimestreLinea" id="lbinpCuotaDosTrimestreLinea" class="form-label" title="Cuota II Trimestre">2da&nbsp;Trimestre</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield cs-movimiento-num" id="inpCuotaDosTrimestreLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpCuotaDosAjusTrimestreLinea" id="lbinpCuotaDosAjusTrimestreLinea" class="form-label" title="Ajuste Cuota II Trimestre">Ajuste&nbsp;2da&nbsp;Trimestre</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield cs-movimiento-num" id="inpCuotaDosAjusTrimestreLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <label for="inpCuotaTresTrimestreLinea" id="lbinpCuotaTresTrimestreLinea" class="form-label" title="Cuota III Trimestre">3era&nbsp;Trimestre</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield cs-movimiento-num" id="inpCuotaTresTrimestreLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <label for="inpCuotaTresAjusTrimestreLinea" id="lbinpCuotaTresAjusTrimestreLinea" class="form-label" title="Ajuste Cuota III Trimestre">Ajuste&nbsp;3era&nbsp;Trimestre</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield cs-movimiento-num" id="inpCuotaTresAjusTrimestreLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <label for="inpCuotaCuartaTrimestreLinea" id="lbinpCuotaCuartaTrimestreLinea" class="form-label" title="Cuota IV Trimestre">4to&nbsp;Trimestre</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield cs-movimiento-num" id="inpCuotaCuartaTrimestreLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <label for="inpCuotaCuartaAjusTrimestreLinea" id="lbinpCuotaCuartaAjusTrimestreLinea" class="form-label" title="Ajuste Cuota IV Trimestre">Ajuste&nbsp;4to&nbsp;Trimestre</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield cs-movimiento-num" id="inpCuotaCuartaAjusTrimestreLinea" readonly disabled="">
            </div>
        </div>
    </div>


</fieldset>