<fieldset class="mx-3 mb-3">
    <div class="row border border-white border-2 rounded">
        <h5 class="text-info mb-3 mt-2">Presupuesto</h5>
        <div class="col-md-3 col-sm-12 mb-3 mt-2 form-group">
            <label for="sopPartidaLinea" class="form-label cs-isrequired-label">Partida</label>
            <select id="sopPartidaLinea" class="form-select is-invalid">
                <option>-Seleccione-</option>
            </select>
        </div>
        <div class="col-md-3 col-sm-12 mb-3 mt-2 form-group">
            <label for="sopGrupoLinea" class="form-label cs-isrequired-label">Grupo</label>
            <select id="sopGrupoLinea" class="form-select is-invalid">
                <option>-Seleccione-</option>
            </select>
        </div>
        <div class="col-md-4 col-sm-12 mb-3 mt-2 form-group">
            <label for="sopSubPartidaLinea" class="form-label cs-isrequired-label" title="PosPre">Subpartida</label>
            <select id="sopSubPartidaLinea" class="form-select is-invalid">
                <option value="-1">-Seleccione-</option>
            </select>
        </div>
        <div class="col-md-2 col-sm-12 mb-3 mt-2 form-group">
            <label for="sopUnidadFisLinea" class="form-label cs-isrequired-label" title="PosPre">Unidad Fiscalizadora</label>
            <select id="sopUnidadFisLinea" class="form-select is-invalid">
                <option value="-1">-Seleccione-</option>
            </select>
        </div>
        <div class="col-md-3 mb-2">
            <label for="inpPresupInicialLinea" id="lbinpPresupInicialLinea" class="form-label" title="Presupuesto Inicial">Inicial</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield cs-movimiento-num" id="inpPresupInicialLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <label for="inpModificacionesPlusLinea" id="lbinpModificacionesPlusLinea" class="form-label" title="Modificaciones Presupuestaria">Modificaciones&nbsp;(+&nbsp;-)</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield cs-movimiento-num" id="inpModificacionesPlusLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <label for="inpAjustesPlusLinea" id="lbinpAjustesPlusLinea" class="form-label" title="Ajustes Presupuesto + -">Ajustes&nbsp;(+&nbsp;-)</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield cs-movimiento-num" id="inpAjustesPlusLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <label for="inpPresupActualLinea" id="lbinpPresupActualLinea" class="form-label" title="Presupuesto Actual">Actual</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control cs-isfield cs-movimiento-num" id="inpPresupActualLinea" readonly disabled="">
            </div>
        </div>
    </div>
</fieldset>