<fieldset class="mx-3 mb-3">
    <div class="row border border-white border-2 rounded">
        <h5 class="text-info mb-3 mt-2">Otras Informaciones</h5>
        <div class="col-md-3">
            <label for="inpCuotaTotalLinea" id="lbinpCuotaTotalLinea" class="form-label">Total&nbsp;Couta</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control" id="inpCuotaTotalLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpArrastreCompLinea" id="lbinpArrastreCompLinea" class="form-label">Arrastre&nbsp;Compromiso</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control" id="inpArrastreCompLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpPerResvArrastreLinea" id="lbinpPerResvArrastreLinea" class="form-label" title="Número Pedido/Reserva Arrastre Compromiso">#&nbsp;Pedido/Reserva&nbsp;Arr.&nbsp;Comp.</label>
            <input type="text" class="form-control" id="inpPerResvArrastreLinea" autocomplete="off">
        </div>
        <div class="col-md-3">
            <label for="inpContenidoEcoLinea" id="lbinpContenidoEcoLinea" class="form-label">Contenido&nbsp;Económico</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control" id="inpContenidoEcoLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpContenidoEcoNumeroLinea" id="lbinpContenidoEcoNumeroLinea" class="form-label">#&nbsp;Contenido&nbsp;Económico</label>
            <input type="text" class="form-control" id="inpContenidoEcoNumeroLinea" autocomplete="off">
        </div>
        <div class="col-md-3">
            <label for="inpPedidoLinea" id="lbinpPedidoLinea" class="form-label">Pedido</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control" id="inpPedidoLinea" autocomplete="off">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpPedidoNumeroLinea" id="lbinpPedidoNumeroLinea" class="form-label">#&nbsp;Pedido</label>
            <input type="text" class="form-control" id="inpPedidoNumeroLinea">
        </div>
        <div class="col-md-3">
            <label for="inpReservaLinea" id="lbinpReservaLinea" class="form-label">Reserva</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control" id="inpReservaLinea" autocomplete="off">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpReservaNumeroLinea" id="lbinpReservaNumeroLinea" class="form-label">#&nbsp;Reserva</label>
            <input type="text" class="form-control" id="inpReservaNumeroLinea" autocomplete="off">
        </div>
        <div class="col-md-3">
            <label for="inpSolicitudPedidoLinea" id="lbinpSolicitudPedidoLinea" class="form-label">Solicitud&nbsp;Pedido</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control" id="inpSolicitudPedidoLinea" autocomplete="off">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpSolicitudPedidoNumeroLinea" id="lbinpSolicitudPedidoNumeroLinea" class="form-label">#&nbsp;Solicitud&nbsp;Pedido</label>
            <input type="text" class="form-control" id="inpSolicitudPedidoNumeroLinea" autocomplete="off">
        </div>
        <div class="col-md-3">
            <label for="inpFacturaLinea" id="lbinpFacturaLinea" class="form-label">Factura</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control" id="inpFacturaLinea" autocomplete="off">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpFacturaNumeroLinea" id="lbinpFacturaNumeroLinea" class="form-label">#&nbsp;Factura</label>
            <input type="text" class="form-control" id="inpFacturaNumeroLinea" autocomplete="off">
        </div>
        <div class="col-md-3">
            <label for="inpDisponibleCtaLinea" id="lbinpDisponibleCtaLinea" class="form-label">Disponible&nbsp;Couta</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control" id="inpDisponibleCtaLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpDisponiblePresupLinea" id="lbinpDisponiblePresupLinea" class="form-label">Disponible&nbsp;Presupuesto</label>
            <div class="input-group mb-2">
                <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                <input type="text" class="form-control" id="inpDisponiblePresupLinea" readonly disabled="">
            </div>
        </div>
        <div class="col-md-3">
            <label for="inpFechaLinea" id="lbinpFechaLinea" class="form-label">Fecha</label>
            <input type="text" class="form-control" id="inpFechaLinea" autocomplete="off">
        </div>
        <div class="col-md-12 mb-2 has-success">
            <label for="taDetalles" class="form-label">Detalle&nbsp;/&nbsp;Descripción</label>
            <textarea type="text" rows="2" class="form-control is-valid cs-input-text" maxlength="200" id="taDetalles" autocomplete="off"></textarea>
        </div>

        <div class="col-md-3 mb-2 is-new-record">
            <label for="inpRegCrePor" class="form-label">Registrado Por</label>
            <input type="text" class="form-control" id="inpRegCrePor" readonly disabled="">
        </div>
        <div class="col-md-3 mb-2 is-new-record">
            <label for="inpRegCreacionFecha" class="form-label">Registrado En</label>
            <input type="text" class="form-control" id="inpRegCreacionFecha" readonly>
        </div>
        <div class="col-md-3 mb-2 is-new-record">
            <label for="inpRegModPor" class="form-label">Modificado Por</label>
            <input type="text" class="form-control" id="inpRegModPor" readonly disabled="">
        </div>
        <div class="col-md-3 mb-2 is-new-record">
            <label for="inpRegModifFecha" class="form-label">Modificado En</label>
            <input type="text" class="form-control" id="inpRegModifFecha" readonly disabled="">
        </div>
        <div class="col-md-6 mb-2 mt-2 is-new-record">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="ckEstado" checked>
                <label class="form-check-label" for="ckEstado">¿Registro Activo?</label>
            </div>
        </div>
        <input type="hidden" id="inpID" />
    </div>
</fieldset>