<div class="container">
    <div class="container d-flex justify-content-start text-start">
        <div id="divTbl" style="overflow-x: auto;" class="row mt-4">
            <table id="tblCuotaCargas"  class="table table-striped table-bordered nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th title="Acciones"><span class="m-5"></span></th>
                        <th>PARTIDAS</th>
                        <th>GRUPO</th>
                        <th>GRUPO DESCRIPCIÓN</th>
                        <th title="Código Subpartida">SUBPARTIDA</th>
                        <th>SUBPARTIDA DESCRIPCIÓN</th>
                        <th title="Unidad Fiscalizadora">UNIDAD FISC.</th>
                        <th>CUOTA</th>
                        <th>MONEDA</th>
                        <th title="Centro Gestor">CENTRO</th>
                        <th>TIPO MOVIMIENTO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>DETALLES</th>
                        <th title="Código de Clasificación">CLASIF.</th>
                        <th title="Fuente Financiamiento Fondo">FUENTE</th>
                        <th>PRESUPUESTO ANUAL</th>
                        <th>CREADO POR</th>
                        <th>CREADO EN</th>
                        <th>MODIFICADO POR</th>
                        <th>MODIFICADO EN</th>
                        <th>ESTATUS REGISTRO</th>
                        <th>ID REG.</th>

                    </tr>
                </thead>

            </table>
        </div>
    </div>

</div>
