<div class="container-fluid col-12 d-flex justify-content-start text-start">
    <div id="divTbl" style="overflow-x: auto; " class="row mt-4">
        <table id="tblTransacciones" class="table table-striped table-bordered nowrap" style="width: 100%; max-width: 600px">
            <thead>
                <tr>
                    <th class="bg-info text-white" title="Acciones"><span class="m-3"></span></th>
                    <th class="bg-info text-white">
                        PARTIDAS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                    <th class="bg-info text-white">
                        GRUPO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                    <th class="bg-info text-white" title="PosPre">SUBPARTIDA</th>
                    <th class="bg-info text-white">
                        SUBPARTIDA DESCRIPCIÓN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                    <th class="bg-info text-white" title="Unidad Fiscalizadora">UNIDAD FISC.</th>
                    <th class="bg-info text-white">MONEDA</th>
                    <th class="bg-info text-white">
                        MONTO DE LEY TOTAL&nbsp;&nbsp;
                    </th>
                    <th class="bg-info text-white">
                        CUOTA TOTAL&nbsp;&nbsp;
                    </th>
                    <th class="bg-info text-white">
                        COMPROMISO TOTAL&nbsp;&nbsp;
                    </th>
                    <th class="bg-info text-white">
                        DISPONIBILIDAD TOTAL&nbsp;&nbsp;
                    </th>
                    <th class="bg-info text-white">
                        CENTRO GESTOR&nbsp;&nbsp;
                    </th>
                    <th class="bg-info text-white" title="Código de Clasificación">CLASIF.</th>
                    <th class="bg-info text-white" title="Fuente Financiamiento Fondo">FUENTE</th>
                    <th class="bg-info text-white" title="Presupuesto Anual">PRESUP. ANUAL</th>
                    <th class="bg-info text-white" title="Presupuesto Anual">
                        UNIDAD&nbsp;FISC.&nbsp;DETALLE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                    <th class="bg-info text-white">ID REG.</th>

                </tr>
            </thead>

        </table>
    </div>
</div>
