/* Set padding to keep content from hitting the edges */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.img-logo {
    width: 70px;
    height: 40px;
}

.img-main {
    width: 650px;
    height: 450px;
}
.layout-menu {
    background: rgb(52,89,230);
    background: linear-gradient(90deg, rgba(52,89,230,1) 0%, rgba(52,89,230,1) 35%, rgba(63,52,230,1) 100%);
}
.breadcrumb {
    font-size: 0.975rem;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: left;
    background-color: #3459e6 !important;
    color: white;
    margin: 10px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
}
div#tblTransacciones_wrapper table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: left;
    background-color: #22699a !important;
    color: white;
    margin: 10px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
}
div#tblInformeEjecucion_wrapper table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: left;
    background-color: mediumseagreen !important;
    color: white;
    margin: 10px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
}
div#tblEjecucionPresupuestariaCentroTotal_wrapper table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: left;
    background-color: #168c9c !important;
    color: white;
    margin: 10px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
}
div#tblEjecucionPresupuestariaCentroTotal_wrapper table.dataTable thead th.primer-grupo, table.dataTable thead td.primer-grupo, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: left;
    background-color: #7fcbad !important;

}
.cs-ejecucion-pie-pagina {
    background-color: #168c9c !important;
}
.primer-grupo {
    background-color: #7fcbad !important;
}
div#tblEjecucionPresupuestariaCentroTotal_wrapper table.dataTable thead th.secundario-grupo, table.dataTable thead td.secundario-grupo, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: left;
    background-color: #e35e00 !important;
}
.secundario-grupo {
    background-color: #e35e00 !important;
}
/*.bg-primary-title > span.bg-primary-title.primer-grupo.text-white {
    background-color: red !important;
}*/
div#tblLiniaGastoObjeto_wrapper table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: left;
    background-color: mediumseagreen !important;
    color: white;
    margin: 10px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
}

div#tblMovimientoLiniaGastoObjeto_wrapper table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: left;
    background-color: mediumseagreen !important;
    color: white;
    margin: 10px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
}
.cs-movimiento-bg th {
    text-align: left;
    background-color: mediumseagreen !important;
    color: white !important;
    margin: 10px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
}
/*div#tblTransacciones_filter {
    float: left;
    text-align: left;
}*/
.opc-date-format:after {
    font-size: 9px;
    color: gray;
    content: ' (dd/mm/aaaa)';
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 0px 1px 1px rgba(235,235,235,1);
    -moz-box-shadow: 1px 0px 1px 1px rgba(235,235,235,1);
    box-shadow: 1px 0px 1px 1px rgba(235,235,235,1);
}
div#tblTransacciones_filter, div#tblTransacciones_filter, div#tblTransaccionesUnidades_filter, div#tblCuotaCargas_filter, div#tblPresupuestoCargas_filter, div#tblSaldoPresupuesto_filter, div#tblInformeEjecucion_filter, div#tblLiniaGastoObjeto_filter, div#tblMovimientoLiniaGastoObjeto_filter, div#tblEjecucionPresupuestariaCentroTotal_filter {
    margin: 9px 0px;
}


.text-bg-white {
    background-color: white;
}
.inp-min-width{
    min-width:180px !important
}

.dt-custom-column-text {
    text-transform: uppercase;
    font-size: 11px;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-15 {
    font-size: 15px;
}
.font-size-14 {
    font-size: 14px;
}
.font-size-13 {
    font-size: 13px;
}
.font-size-12 {
    font-size: 12px;
}
.font-size-11 {
    font-size: 11px;
}
.font-size-10 {
    font-size: 10px;
}
.font-size-09 {
    font-size: 9px;
}

input[readonly] {
    background-color: #f9f6f6;
}
input[readonly]:hover{
    cursor: not-allowed !important;
}
textarea[readonly] {
    background-color: #f9f6f6;
}

textarea[readonly]:hover {
    cursor: not-allowed !important;
}


/* width */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2f53df;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #258cfb;
}
span[readonly]:hover {
    cursor: not-allowed !important;
}
.custon-btn-link:hover {
    cursor: pointer !important;
}

.offcanvas-fullScreen {
    --bs-offcanvas-width: 100% !important;
}
.offcanvas-middle-fullScreen {
    --bs-offcanvas-width: 50% !important;
}
.swal-wide {
    width: 700px !important;
}
a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}
.blink {
    animation: blinker 1s linear infinite;
}
.loading2 {
    color: #3459e6;
    font-size: 18px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.rotate {
    writing-mode: vertical-rl;
    padding-left: 50px;
    font-weight: bold;
    font-size: 20px;
}

.toast-top-center {
    top: 12px;
    margin: 70px;
    left: 50%;
}
div.dt-buttons {
    position: relative;
    float: right !important;
    margin:8px;
}
/*.dataTables_wrapper .dataTables_paginate {
    float: none !important;
}
*/
.colon-sign:after {
    content: "₡" !important;
}
.dollar-sign:after {
    content: "$" !important;
}
.pesos-sign:after {
    content: "$" !important;
}
.euros-sign:after {
    content: "€" !important;
}
.libras-sign:after {
    content: "£" !important;
}
.cs-isrequired-label::after {
    content: " *" !important;
    color: red;
    animation: blinker 1s linear infinite;
}
.cs-transaction-bg {
    background: url(../Images/DGME-HD.jpg) no-repeat fixed;

 
}
button.dt-button.buttons-columnVisibility {
    font-size: 9px;
    background-color: rgb(52,89,230) !important;
    color: white !important;
    margin: 10px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
}
.bg-orange {
    background-color: #ffa500c9 !important;
}
.bg-yellow {
    background-color: #e9e937db !important;
}
.bg-primary-title {
    background-color: #1b37a2f0 !important;
}
.bg-white {
    background-color: white !important;
}
