
@{
    ViewBag.Title = "Reportes";
}


<div class="container-fluid col-11 mt-3">
    <div class="row d-flex  justify-content-start p-2">
        <div class="d-flex justify-content-start mt-1  text-info"><h6><i class="fa fa-solid fa-chart-pie"></i>&nbsp;LISTADO DE REPORTES</h6></div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-2 col-sm-12">
                <label for="sopPresupAn" class="form-label fw-bold text-capitalize" title="Presupuesto - Año">Presupuesto</label>
                <input type="number" min="2023" max="3000" value="2023" id="sopPresupAn" class="form-control" />
            </div>
            <div class="col-md-3 col-sm-12 form-group">
                <label for="sopReporte" class="form-label fw-bold text-capitalize" title="Seleccione Reporte">Reporte</label>
                <select id="sopReporte" class="form-select">
                    <option value="-1">-Seleccione-</option>
                    <option value="1">Saldo de Presupuesto</option>
                    <option value="2">Informe Ejecución</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-12 form-group divsopSubPartida">
                <label for="sopSubPartida" class="form-label fw-bold text-capitalize" title="PosPre">Subpartida</label>
                <select id="sopSubPartida" class="form-select">
                    <option value="-1">-Seleccione-</option>
                </select>
            </div>
            <div class="col-md-3 divSubpartidaCriterio">
                <label for="inpSubpartidaCriterio" class="form-label" title="Para filtrar múltiples Subpartidas solo debe agregarlas separadas por coma, EJ: E-10101,E-50, ...etc.">Filtrar&nbsp;Subpartida</label>
                <input type="text" class="form-control" title="Para filtrar múltiples Subpartidas solo debe agregarlas separadas por coma, EJ: E-10101,E-50, ...etc." id="inpSubpartidaCriterio" autocomplete="off">
            </div>
            <div class="col-md-3 divSubpartidaCriterio mt-4">
                <button id="btnBuscarCriterio" class="btn btn-info mt-2">Buscar</button>
            </div>
            <div class="col-md-3 mb-2 mt-2 divSaldos" style="display:none">
                <label for="inpPartida" class="form-label">Partida</label>
                <input type="text" class="form-control" id="inpPartida" readonly disabled="">
            </div>
            <div class="col-md-3 mb-2 mt-2 divSaldos" style="display:none">
                <label for="inpGrupo" class="form-label">Grupo</label>
                <input type="text" class="form-control" id="inpGrupo" readonly disabled="">
            </div>
            <div class="col-md-3 form-group mt-2 divSaldos" style="display:none">
                <label for="inpPresupuestoAct" id="lbinpPresupuestoAct" class="form-label" title="Presupuesto Actual">De Ley Total</label>
                <div id="divinpPresupuestoAct" class="input-group mb-2">
                    <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                    <input type="text" class="form-control cs-PresupuestoAct" id="inpPresupuestoAct" readonly disabled="">
                </div>
            </div>
            <div class="col-md-3 mb-2 mt-2 divSaldos" style="display:none">
                <label for="inpSaldoDisponibl" id="lbinpSaldoDisponibl" class="form-label">Saldo Disponible</label>
                <div id="divinpSaldoDisponibl" class="input-group mb-2">
                    <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                    <input type="text" class="form-control" id="inpSaldoDisponibl" readonly disabled="">
                </div>
            </div>

        </div>

    </div>
   
        
    
</div>
<div class="container-fluid col-11 mt-3">
    <div class="row" style="min-width:350px !important">
        <div id="divSaldoPresupuesto" style="display:none" class="row divOpciones divSaldos">
            @Html.Partial("_SaldoPresupuesto")
        </div>
        <div id="divInformeEjecucion" style="display:none" class="row divOpciones divInforme">
            @Html.Partial("_InformeEjecucion")
            <div class="mt-5"></div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/Js/reportes/Reporte.js"></script>

}